<div class="row be-red white large-padding middle-xs">
	<div class="col-xs center-xs">
		<h1 class="no-margin" id="logo"><%= link_to "Logo", root_path %></h1>
	</div>
    <div class="col-xs center-xs">
        <%= form_tag products_search_path, :method => 'get', :class => "navbar-form", :role => "search" do %>
            <div class="input-group">
                <%= text_field_tag :search, params[:search], :class => 'form-control' %>
                <div class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                        <i class="glyphicon glyphicon-search"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <% if user_signed_in? && current_user.is_admin_user? %>
        <div class="col-xs center-xs">
            <%= link_to 'Nuevo Producto', new_product_path %>
        </div>
    <% end %>
    <% if user_signed_in? && (current_user.is_normal_user? || current_user.is_authorized_user?) %>
    	<div class="col-xs center-xs">
        	<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Mis Pedidos
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% if user_signed_in? && current_user.is_authorized_user? %>
                    <li><%= link_to "Pedidos a Autorizar por mi", mis_ordenes_para_autorizar_path() %></li>
                <% end %>
			    <li><%= link_to "Mios Sin Autorizar", ordenes_sin_autorizar_path %></li>
			    <li><%= link_to "Mios Autorizados sin entregar", ordenes_mias_sin_entregar_path %></li>
			    <li><%= link_to "Mios Entregados", ordenes_mias_entregadas_path %></li>
			  </ul>
			</div>
    	</div>

        <div class="col-xs center-xs">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Mis Preguntas
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><%= link_to "Sin Responder", preguntas_mias_sin_responder_path %></li>
                <li><%= link_to "Respondidas", preguntas_mias_respondidas_path %></li>
              </ul>
            </div>
        </div>

	<% end %>
	<% if user_signed_in? && current_user.is_admin_user? %>
    	<div class="col-xs center-xs">
        	<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Pedidos
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Sin autorizar", ordenes_sin_autorizar_todas_path %></li>
			    <li><%= link_to "Sin entregar", ordenes_sin_entregar_path %></li>
			    <li><%= link_to "Entregado", ordenes_entregadas_path %></li>
			  </ul>
			</div>
    	</div>

    	<div class="col-xs center-xs">
        	<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Preguntas
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			    <li><%= link_to "Sin Responder", preguntas_sin_responder_path %></li>
			    <li><%= link_to "Respondidas", preguntas_respondidas_path %></li>
			  </ul>
			</div>
    	</div>
	<% end %>

    <% if user_signed_in? %>
    	<div class="col-xs center-xs">
    		<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
            <%= current_user.email %>
    	</div>
        <% if current_user.is_admin_user? %>
            <div class="col-xs center-xs">
                <%= link_to "Crear Cuenta", new_user_registration_path %>
            </div>
        <% end %>
    <% else %>
    	<div class="col-xs center-xs">
    		<%= link_to "Iniciar Sesión", new_user_session_path %>
    	</div>
    <% end %>
</div>