<div class="row be-red white large-padding middle-xs">
	<div class="col-xs center-xs">
		<h1 class="no-margin" id="logo">Logo</h1>
	</div>
    <div class="col-xs center-xs">
        <%= link_to "Inicio", root_path %>
    </div>
    <% if user_signed_in? && current_user.is_admin_user? %>
        <div class="col-xs center-xs">
            <%= link_to 'Nuevo Producto', new_product_path %>
        </div>
    <% end %>
    <% if user_signed_in? && (current_user.is_normal_user? || current_user.is_authorized_user?) %>
    	<div class="col-xs center-xs">
        	<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Mis Pedidos
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% if user_signed_in? && current_user.is_authorized_user? %>
                    <li><%= link_to "Ordenes a Autorizar por mi", mis_ordenes_para_autorizar_path(current_user) %></li>
                <% end %>
			    <li><%= link_to "Sin Autorizar", ordenes_sin_autorizar_path %></li>
			    <li><%= link_to "Autorizado sin entregar", ordenes_sin_entregar_path %></li>
			    <li><%= link_to "Entregado", ordenes_entregadas_path %></li>
			  </ul>
			</div>
    	</div>
	<% end %>
    <div class="col-xs center-xs">
        Diseño
    </div>
    <div class="col-xs center-xs">
        Programación
    </div>
    <div class="col-xs center-xs">
        Tecnología
    </div>
    <% if user_signed_in? %>
    	<div class="col-xs center-xs">
    		<%= current_user.email %>
    	</div>
    	<div class="col-xs center-xs">
    		<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
    	</div>
    <% else %>
    	<div class="col-xs center-xs">
    		<%= link_to "Iniciar Sesión", new_user_session_path %>
    	</div>
    	<div class="col-xs center-xs">
    		<%= link_to "Crear Cuenta", new_user_registration_path %>
    	</div>
    <% end %>
</div>