<%= simple_form_for ([@product, @order]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :product %>
    <%= f.input :autorizado %>
    <%= f.input :entregado %>
    <%= f.input :cantidad %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
