
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= order.user.email %> solicitó <%= order.cantidad %> unidades de <%= link_to order.product.name, order.product %></h3>
  </div>
  <div class="panel-body">
  <div class="row">
	  <div class="col-xs-2"><span class="thumbnail"><%= image_tag order.product.image.url(:thumb) %></span></div>
	  <div class="col-xs-7"><%= order.product.description %>
	  	<% unless order.user.user.nil? %>
	  		<br> Este pedido debe ser autorizado por <%= order.user.user.email %>
	  	<% end %>
	  </div>
	  <div class="col-xs-3">
	  	<span class="badge">$ <%= order.cantidad * order.product.price %></span>
	  	<% unless order.autorizado %>
	      <%= link_to 'Editar', edit_order_path(order), :class => "btn btn-default" %>
	      <%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
	    <% end %>
	    <% if @estado == "para autorizar por mi"%>
	    	<%= link_to 'Autorizar', authorize_order_path(:order_id => order.id), :class => "btn btn-default", method: :post %>
	    <% end %>
	    <% if user_signed_in? && current_user.is_admin_user? %>
            <%= link_to 'Entregado', deliver_order_path(:order_id => order.id), :class => "btn btn-default", method: :post %>
        <% end %>
	  </div>
  </div>
  </div>
</div>