<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= order.user.email %> solicitó <%= order.cantidad %> unidades de <%= link_to order.product.name, order.product %></h3>
  </div>
  <div class="panel-body">
  <div class="row">
	  <div class="col-xs-2"><span class="thumbnail"><%= image_tag order.product.image.url(:thumb) %></span></div>
	  <div class="col-xs-7"><p><%= order.product.description %></p>
	  	<% unless order.user.user.nil? %>
	  		    <p>Este pedido 
	  		<% if order.autorizado %>
	  			fue
	  		<% else %>
	  			debe ser
	  		<% end %>
	  		 	autorizado por <%= order.user.user.email %></p>
	  	<% end %>
	  	<% if order.aclaracion %>
	  		<p><b>Aclaración: </b><%= order.aclaracion %></p>
	  	<% end %>
	  	<div class="fechas">
	  		Pedido creado hace: <%= time_ago_in_words order.created_at %><br>
	  		<% if order.fecha_autorizado %>
	  			Pedido autorizado hace: <%= time_ago_in_words order.fecha_autorizado %> - Demora autorización:
	  			<%= distance_of_time_in_words(order.created_at, order.fecha_autorizado) %><br>
	  		<% end %>
	  		<% if order.fecha_entregado %>
	  			Pedido entregado hace: <%= time_ago_in_words order.fecha_entregado %> - Demora entrega:
	  			<%= distance_of_time_in_words(order.fecha_autorizado, order.fecha_entregado) %> - Tiempo total: 
	  			<%= distance_of_time_in_words(order.created_at, order.fecha_entregado) %><br>
	  		<% end %>
	  	</div>
	  </div>
	  <div class="col-xs-3">
	  	<span class="badge">$ <%= order.cantidad * order.product.price %></span>
	  	<% unless order.autorizado %>
	      <%= link_to 'Editar', edit_order_path(order), :class => "btn btn-default" %>
	      <%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
	    <% end %>
	    <% if @estado == "para autorizar por mi"%>
	    	<%= link_to 'Autorizar', authorize_order_path(:order_id => order.id), :class => "btn btn-default", method: :post %>
	    <% end %>
	    <% if user_signed_in? && current_user.is_admin_user? %>
            <%= link_to 'Entregado', deliver_order_path(:order_id => order.id), :class => "btn btn-default", method: :post %>
        <% end %>
	  </div>
  </div>
  </div>
</div>