<p>El usuario <%= @pedido.user.name %> ingresó un nuevo pedido que usted debería autorizar, los datos del mismo son:</p>
<p>
Producto: <%= @pedido.product.name %><br>
Cantidad: <%= @pedido.cantidad %><br>
Precio Unitario: <%= @pedido.product.price %><br>
Precio Total: <%= @pedido.cantidad * @pedido.product.price %><br>
</p>
<p>
Dicho pedido requiere su autorización, por favor, para hacerlo ingrese <%= link_to 'aqui', mis_ordenes_para_autorizar_url %>
</p>