<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= product.name %></h3>
  </div>
  <div class="panel-body">
  <div class="row">
	  <div class="col-xs-2"><span class="thumbnail"><%= image_tag product.image.url(:thumb) %></span></div>
	  <div class="col-xs-7">
	  	<p><%= product.description %></p> 
	  	<% if @listado && user_signed_in? && (current_user.is_authorized_user? || current_user.is_normal_user?) %>
	  		<p><%= link_to 'Hacer Consulta', product %></p> 
	  	<% end %>
        <% if @listado==false && user_signed_in? && (current_user.is_authorized_user? || current_user.is_normal_user?) %>
        	<%= simple_form_for (@interaction) do |f| %>
				<%= f.error_notification %>
			<div class="form-inputs">
			  <%= f.input :mensaje, label: 'Pregunta' %>
			  <%= f.input :product_id, :as => :hidden, :input_html => { :value => "#{product.id}" } %>
			  <%= f.input :pregunta, :as => :hidden, :input_html => { :value => "true" } %>
			  <%= f.input :respondida, :as => :hidden, :input_html => { :value => "false" } %>
			</div>
			<div class="form-actions">
			  <%= f.button :submit, 'Preguntar' %>
			</div>
			<% end %>
        <% end %>
	  </div>
	  <div class="col-xs-3">
	  	<span class="badge">$ <%= product.price %></span>
	  	<% if user_signed_in? && current_user.is_admin_user? %>
	      <%= link_to 'Editar', edit_product_path(product), :class => "btn btn-default" %>
	      <%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
	    <% elsif user_signed_in? && (current_user.is_authorized_user? || current_user.is_normal_user?) %>
	    	<%= simple_form_for (@order) do |f| %>
				<%= f.error_notification %>
			<div class="form-inputs">
			  <%= f.input :cantidad %>
			  <%= f.input :product_id, :as => :hidden, :input_html => { :value => "#{product.id}" } %>
			</div>
			<div class="form-actions">
			  <%= f.button :submit %>
			</div>
			<% end %>
	    <% end %>
	  </div>
  </div>
  </div>
</div>
<% if @listado==false && @lista_interacciones.size > 0 %>
	<h1>Preguntas y Respuestas</h1>
	<%= render @lista_interacciones %>
<% end %>
