<!DOCTYPE html>
<html>
<head>
  <title>Impresoras</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'partials/navigation' %>
<% unless notice.nil? %>
	<div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
    	<%= notice %>
    </div>
<% end %>

<% if FALSE %>
  <% unless alert.nil? %>
  	<p class="alert"><%= alert %></p>
  <% end %>
<% end %> 

<%= yield %>

</body>
</html>
